/* Remover o contador de paginas do primeiro slide */
.title-slide .remark-slide-number {
  display: none;
}
/* Figura de plano de fundo  */
.title-slide {
  background-image: url(figuras/fundo4.jpg);
  text-align: center;
  background-size: 100% 100%;
  background-color: white;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

p {
  font-size: 26px; /* Tamanho do parágrafo */
}